# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
from scipy.stats import ttest_rel, ttest_ind

In [5]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    # Your code here
    
    for i in features:
        k, v = ttest_ind(s1[i], s2[i])
        results [i] = v
    
    return results

In [6]:
len_s1 = len(pokemon[pokemon['Legendary']== True])
len_s2 = len(pokemon[pokemon['Legendary']== False])

In [8]:
len_s1, len_s2

(65, 735)

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
media_legendario = pokemon['Total'][pokemon['Legendary']== True]. mean()
std_legendario = pokemon['Total'][pokemon['Legendary']== True]. std()

media_legendario, std_legendario

(637.3846153846154, 60.93738905315344)

In [10]:
media_normal = pokemon['Total'][pokemon['Legendary']== False]. mean()
std_normal = pokemon['Total'][pokemon['Legendary']== False]. std()

media_normal, std_normal

(417.21360544217686, 106.76041745713005)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
s1 = pokemon[pokemon['Legendary']== True]
s2 = pokemon[pokemon['Legendary']== False]
t_test_features(s1, s2)

{'HP': 3.330647684846191e-15,
 'Attack': 7.827253003205333e-24,
 'Defense': 1.5842226094427259e-12,
 'Sp. Atk': 6.314915770427266e-41,
 'Sp. Def': 1.8439809580409333e-26,
 'Speed': 2.3540754436897763e-21,
 'Total': 3.0952457469652825e-52}

In [14]:
from statsmodels.stats import weightstats as w

In [17]:
z_score, p_value = w.ztest(pokemon['Total'][pokemon['Legendary']== True],  
                           pokemon['Total'][pokemon['Legendary']== False],
                           value=0, 
                           alternative='two-sided',
                           usevar='pooled',
                           ddof=1)

z_score, p_value

(16.386116965872425, 2.4031368278343178e-60)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# El Total es independiente y existe una diferencia significativa entre los pokemons legendarios de lo que no lo son

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [20]:
type1 = pokemon['Type 1'].value_counts()

type1

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [35]:
mean_water = pokemon['Total'][pokemon['Type 1']== 'Water']. mean()
std_water = pokemon['Total'][pokemon['Type 1']== 'Water'].std()


mean_others = pokemon['Total'][pokemon['Type 1']!= 'Water'].mean()
std_others = pokemon['Total'][pokemon['Type 1']!= 'Water'].std()

In [36]:
mean_water, std_water

(430.45535714285717, 113.1882660643146)

In [37]:
mean_others, std_others

(435.85901162790697, 121.0916823020807)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [39]:
h0: No hay diferencia significativa


z_score, p_value = w.ztest(pokemon['Total'][pokemon['Type 1']== 'Water'],  
                           pokemon['Total'][pokemon['Type 1']!= 'Water'],
                           value=0, 
                           alternative='two-sided',
                           usevar='pooled',
                           ddof=1)

z_score, p_value

(-0.4418547448849676, 0.6585943204400648)

Write your conclusion below.

In [ ]:
# No existe una diferencia significativa entre los pokemons de 'Agua' de los que no lo son

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [40]:
# h0: No hay diferncias significativas

ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Entre el 'Attack' y 'Defence' existe diferencias significativa a un intervalo del 95%

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [42]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [43]:
# Entre el 'Sp. Atk' y 'Sp. Def' no existe diferencias significativa a un intervalo del 95%

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [46]:
from scipy.stats import ttest_1samp

# h0: No hay diferncias significativas             intervalo:95%  ----- 0.05

t_test=ttest_1samp(pokemon['Attack'] - pokemon['Defense'], 0)
    
t_test

# Entre el 'Attack' y 'Defence' existe diferencias significativa a un intervalo del 95%

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [55]:
cross =pd.crosstab(pokemon['Legendary'], pokemon['Type 1']=='Water')

cross)

pandas.core.frame.DataFrame

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [52]:
from scipy.stats import  chi2, chi2_contingency

In [54]:
# Â¿Existe asociacion significativa entre ser legendario y ser de agua? (H0: No, H1: Si)

ji_dos, pval, dof, ex = chi2_contingency(cross)

pval

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# ð‘ð‘£>0.05 , no se rechaza H0, no existe diferencia significativa entre las frecuencias de lo pokemon de agua.