# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [190]:
# Your code here:
nor= pokemon.loc[pokemon['Legendary']== False]
legen= pokemon.loc[pokemon['Legendary']== True]

legen

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,1
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,1
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,1
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,1
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,1
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,1
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,1
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,1
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,1

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [191]:
# Your code here:
import statistics as st
mean_legendary=pokemon.mean()
std_legendary= pokemon.std() 
std_legendary
mean_legendary

C:\Users\penzi\AppData\Local\Temp/ipykernel_19824/1522616930.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_legendary=pokemon.mean()
C:\Users\penzi\AppData\Local\Temp/ipykernel_19824/1522616930.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  std_legendary= pokemon.std()

#             362.360799
Total         434.559301
HP             69.172285
Attack         78.902622
Defense        73.750312
Sp. Atk        72.729089
Sp. Def        71.812734
Speed          68.192260
Generation      3.319600
Legendary       0.081149
dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [90]:
# Your code here:
from scipy.stats import ttest_ind
x= ttest_ind(nor.Total, legen.Total, equal_var=False)
x

Ttest_indResult(statistic=-25.85045273874318, pvalue=5.665919933542125e-47)

What do you conclude from this test? Write your conclusions below.

In [80]:
# Your conclusions here:

#by viewing the p.value of the total for every pokemon we conclude that each rarenes of pokemon is independent from each other

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [84]:
# Your code here:
type=pokemon['Type 1'].value_counts()
type

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
False         1
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [164]:
# Your code here:
water= pokemon.loc[pokemon['Type 1']== 'Water']
mean_water=water.mean()
std_water= water.std() 
x=mean_water.Total
y=pokemon.mean().Total
print(mean_water.Total , pokemon.mean().Total)
print(std_water.Total, pokemon.std().Total)

430.45535714285717 434.5593008739076
113.1882660643146 120.86972032527672

C:\Users\penzi\AppData\Local\Temp/ipykernel_19824/2396606536.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_water=water.mean()
C:\Users\penzi\AppData\Local\Temp/ipykernel_19824/2396606536.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  std_water= water.std()
C:\Users\penzi\AppData\Local\Temp/ipykernel_19824/2396606536.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  y=pokemon.mean().Total
C:\Users\penzi\AppData\Local\Temp/ipykernel_19824/2396606536.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(mean_water.Total , pokemon.mean().Total)
C:\Users\penzi\AppData\Local\Temp/ipykernel_19824/2396606536.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(std_water.Total, pokemon.std().Total)

In [169]:

nonwater= pokemon.loc[pokemon['Type 1']!= 'Water']
nonwater=nonwater.mean()
nonwater

C:\Users\penzi\AppData\Local\Temp/ipykernel_19824/167270018.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  nonwater=nonwater.mean()

#             371.995646
Total         435.226415
HP             68.702467
Attack         79.674891
Defense        73.880987
Sp. Atk        72.390421
Sp. Def        72.023222
Speed          68.554427
Generation      3.394775
Legendary       0.088534
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [170]:
# Your code here:
from scipy.stats import ttest_rel, ttest_ind
ttest_rel(mean_water, nonwater)

Ttest_relResult(statistic=-1.1564697528218295, pvalue=0.27726298490431434)

Write your conclusion below.

In [171]:
# Your conclusions here:

como el p value es bajo se sabe que la mediana es parecida

SyntaxError: invalid syntax (Temp/ipykernel_19824/3096291571.py, line 3)

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [181]:
# Your code here:
attack= pokemon['Attack']
defense= pokemon['Defense']
ttest_rel(attack, defense)

Ttest_relResult(statistic=4.325506544533453, pvalue=1.714233481445991e-05)

Describe the results of the test in the cell below.

In [182]:
# Your conclusions here: beacuse p value is higher we can see that both are not equal of each other

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [183]:
# Your code here:
attack= pokemon['Sp. Def']
defense= pokemon['Sp. Atk']
ttest_rel(attack, defense)

Ttest_relResult(statistic=-0.8539863690632093, pvalue=0.39336817988361616)

Describe the results of the test in the cell below.

In [184]:
# Your conclusions here:
the p value does not go farther than .5 so we can deduce that maybe there isnt a statistical diffrence

SyntaxError: invalid syntax (Temp/ipykernel_19824/1898290370.py, line 2)

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [185]:
# Your code here:
from scipy.stats import ttest_1samp
attack= pokemon['Attack']
defense= pokemon['Defense']
mu=attack-defense
t_test=ttest_1samp(mu, 0)
t_test

Ttest_1sampResult(statistic=4.325506544533453, pvalue=1.714233481445991e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [178]:
# Your code here:
obs= pd.crosstab(pokemon['Type 1']== 'Water',pokemon ['Legendary']== True)

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [179]:
# Your code here:
from scipy.stats import chi2_contingency 
chi2_contingency(obs)

(2.9311426494806847,
 0.08688597745854763,
 1,
 array([[633.0886392,  55.9113608],
        [102.9113608,   9.0886392]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [189]:
# Your answer here:
a 95% makes it that our pvalue>0.05 because our pvalue is higher so our hipotesis cannot be rejected if we want a confidence level of 95%
ou null hypo is not rejected because p value is higher than the 95% confidence level

(2.9311426494806847,
 0.08688597745854763,
 1,
 array([[633.0886392,  55.9113608],
        [102.9113608,   9.0886392]]))