# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [51]:
# import numpy and pandas
from scipy.stats import ttest_rel, ttest_ind
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
# Your code here:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [68]:
# Your code here:
legendarios = pokemon[pokemon["Legendary"]==True]
No_legendarios = pokemon[pokemon["Legendary"]==False]
legendarios_media=round(legendarios.Total.mean(),2)
No_legendarios_media=round(No_legendarios.Total.mean(),2)
legendarios_media

637.38

In [50]:
print(f'La media de los puntos totales de los pokemon legendarios es: {round(legendarios.Total.mean(),2)}')
print(f'La desviación estandar de los puntos totales de los pokemon legendarios es: {round(legendarios.Total.std(),2)}')
print(f'La media de los puntos totales de los pokemon No legendarios es: {round(No_legendarios.Total.mean(),2)}')
print(f'La desviación estandar de los puntos totales de los pokemon NO legendarios es: {round(No_legendarios.Total.std(),2)}')

La media de los puntos totales de los pokemon legendarios es: 637.38
La desviación estandar de los puntos totales de los pokemon legendarios es: 60.94
La media de los puntos totales de los pokemon No legendarios es: 417.21
La desviación estandar de los puntos totales de los pokemon NO legendarios es: 106.76

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

El cálculo de la media podría darnos una pista sobre cómo puede resultar la prueba estadística; Sin embargo, ciertamente no prueba si existe una diferencia significativa entre los dos grupos.

En la celda a continuación, use la función ttest_ind en scipy.stats para comparar los puntos totales de Pokémon legendarios y no legendarios. Como no tenemos ninguna información sobre la población, suponga que las varianzas no son iguales.

In [69]:
# Your code here:
testito= ttest_ind(legendarios["Total"], No_legendarios["Total"], equal_var=False)
testito

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

# Se puede asumir que las medias son diferentes ya que el pvalue se aproxima mucho a 0.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [71]:
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

In [74]:
# Your code here:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [86]:
# Your code here:
a=pokemon[pokemon["Type 1"]=="Water"].Total
b=pokemon[pokemon["Type 1"]!="Water"].Total
print(a.mean(),a.std())
print(b.mean(),b.std())

430.45535714285717 113.18826606431458
435.85901162790697 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [89]:
pokemon[pokemon["Type 1"]!="Water"].Total

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 688, dtype: int64

In [130]:
ttest_ind(pokemon[pokemon["Type 1"]!="Water"].Total, pokemon[pokemon["Type 1"]=="Water"].Total)

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

In [126]:
# Your code here:
testito2= ttest_rel(pokemon[pokemon["Type 1"]!="Water"].Total.sample(n=112, random_state=42), 
                    pokemon[pokemon["Type 1"]=="Water"].Total)

In [127]:
testito2

Ttest_relResult(statistic=0.1565210864567821, pvalue=0.875906626656654)

In [128]:
from statsmodels.stats import weightstats as w

In [129]:
z_score, p_value = w.ztest(pokemon[pokemon["Type 1"]!="Water"].Total, pokemon[pokemon["Type 1"]=="Water"].Total)

z_score, p_value

(0.4418547448849676, 0.6585943204400648)

Write your conclusion below.

In [103]:
# Your conclusions here:

#Como mi pvalue es mayor que 0,05, no se puede rechazar H0, no hay diferencia significativa
#entre los pokemon de agua y los q no lo son.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

En este desafío, compararemos muestras dependientes de datos que describen a nuestro Pokémon. Nuestro objetivo es ver si hay una diferencia significativa entre las puntuaciones de defensa y ataque de cada Pokémon. Nuestra hipótesis es que las puntuaciones de defensa y ataque son iguales. En la celda a continuación, importe la función `ttest_rel` desde `scipy.stats` y compare las dos columnas para ver si hay una diferencia estadísticamente significativa entre ellas.

In [104]:
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

In [111]:
testito3= ttest_rel(pokemon["Attack"],pokemon["Defense"])
testito3

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

# Podemos rechazar H0, ya que el pvalue es menor que 0,05, por lo que aceptamos H1 en el que decimos que las puntuaciones
#de defensa y ataque son IGUALES.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [131]:
# Your code here:
testito4= ttest_rel(pokemon["Sp. Atk"],pokemon["Sp. Def"])
testito4

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#Como el pvalue es mayor, rechazamos H0 y aceptamos nuestra nueva hipotesis H1

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: