# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [12]:
Legendary = pokemon[pokemon['Legendary'] == 1]
Non_Legendary = pokemon[pokemon['Legendary'] == 0]

In [13]:
print(f'There are {len(Legendary)} legendary Pokemon and {len(Non_Legendary)} non legendary Pokemon.')

There are 65 legendary Pokemon and 735 non legendary Pokemon.

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [14]:
print(f'The mean of the total points for legendary Pokemon is {Legendary["Total"].mean()} and the standard deviation is {Legendary["Total"].std()}.')

The mean of the total points for legendary Pokemon is 637.3846153846154 and the standard deviation is 60.93738905315344.

In [15]:
print(f'The mean of the total points for non-legendary Pokemon is {Non_Legendary["Total"].mean()} and the standard deviation is {Non_Legendary["Total"].std()}.')

The mean of the total points for non-legendary Pokemon is 417.21360544217686 and the standard deviation is 106.76041745713005.

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [16]:
from scipy.stats import ttest_ind

In [17]:
print(f'The p-value for the t-test is {ttest_ind(Legendary["Total"], Non_Legendary["Total"])[1]}.')

The p-value for the t-test is 3.0952457469652825e-52.

What do you conclude from this test? Write your conclusions below.

In [6]:
# My conclusion is that there is a significant difference between the two groups.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [20]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [21]:
water = pokemon[pokemon['Type 1'] == 'Water']
non_water = pokemon[pokemon['Type 1'] != 'Water']

In [22]:
print(f'The mean of the total points for water Pokemon is {water["Total"].mean()} and the standard deviation is {water["Total"].std()}.')

The mean of the total points for water Pokemon is 430.45535714285717 and the standard deviation is 113.1882660643146.

In [23]:
print(f'The mean of the total points for non-water Pokemon is {non_water["Total"].mean()} and the standard deviation is {non_water["Total"].std()}.')

The mean of the total points for non-water Pokemon is 435.85901162790697 and the standard deviation is 121.0916823020807.

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [35]:
from scipy.stats import ttest_rel

In [44]:
print(f'The p-value for the t-test is {ttest_ind(water["Total"], non_water["Total"])[1]}.')

The p-value for the t-test is 0.6587140317488793.

Write your conclusion below.

In [46]:
# No hay suficiente evidencia estadística como para rechazar que las medias de los pokemon de agua y los demás sean diferentes.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [28]:
from scipy.stats import ttest_rel

In [29]:
print(f'The p-value for the t-test is {ttest_rel(pokemon["Defense"], pokemon["Attack"])[1]}.')

The p-value for the t-test is 1.7140303479358558e-05.

Describe the results of the test in the cell below.

In [12]:
# My conclusion is that there is no significant difference between the two groups.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [30]:
print(f'The p-value for the t-test is {ttest_rel(pokemon["Sp. Def"], pokemon["Sp. Atk"])[1]}.')

The p-value for the t-test is 0.3933685997548122.

Describe the results of the test in the cell below.

In [31]:
# My conclusion is that there is a significant difference between the two groups.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [32]:
from scipy.stats import ttest_1samp

In [33]:
print(f'The p-value for the t-test is {ttest_1samp(pokemon["Defense"] - pokemon["Attack"], 0)[1]}.')

The p-value for the t-test is 1.7140303479358558e-05.

In [34]:
# My conclusion is that there is no significant difference between the two groups.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [38]:
pd.crosstab(pokemon['Legendary'], pokemon['Type 1'])

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [40]:
from scipy.stats import chi2_contingency

In [41]:
print(f'The p-value for the chi-square test is {chi2_contingency(pd.crosstab(pokemon["Legendary"], pokemon["Type 1"]))[1]}.')

The p-value for the chi-square test is 5.118547414721704e-12.

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# My conclusion is that we should reject the null hypothesis.